div {
    height: 2em; display: inline-block;
}
div.content {
    max-width: 10em;
}
div.item {
    width: 20em; border: 1px dotted green; display: block;
}
div.move {
    width: 10em; float: right;
}
div.move > div {
    float: left; padding-left: 1em;
}