{% extends 'base.html' %}
{% load static %}

{% block title %}Story 7{% endblock %}

{% block content %}
<div class="text-center"><h2>Tentang Saya</h2></div>
<div class="container main">
    <div id="accordion">
        <h4 class="content">
            <div class="container">
                Biodata Diri
                <button type="button" class="btn btn-outline-primary buttonDown">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                    </svg>
                </button>
                <button type="button" class="btn btn-outline-primary buttonUp">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                    </svg>
                </button>
            </div>
        </h4>
        <div id="content1">
            <div class="container">
                <p>
                Nama : Ahsan Najmy Ramadhan Putra Aji<br>Tempat dan Tanggal Lahir : 28 November 2001<br>Pendidikan Sekarang : S1 Ilmu Komputer Fasilkom UI
                </p>
            </div>
        </div>
        <h4 class="content">
            <div class="container">
            Riwayat Pendidikan
            <button type="button" class="btn btn-outline-primary buttonDown">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                </svg>
            </button>
            <button type="button" class="btn btn-outline-primary buttonUp">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                </svg>
            </button>
            </div>
        </h4>
        <div id="content2">
            <div class="container">
                <p>
                SD : SD Islam Al-Azhar 2 Pasar Minggu<br>SMP : SMPN 2 Depok<br>SMA : SMAN 26 Jakarta
                </p>
            </div>
        </div>
        <h4 class="content">
            <div class="container">
            Minat
            <button type="button" class="btn btn-outline-primary buttonDown">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                </svg>
            </button>
            <button type="button" class="btn btn-outline-primary buttonUp">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                </svg>
            </button>
            </div>
        </h4>
        <div id="content3">
            <div class="container">
                <ul>
                    <li>GameDev</li>
                    <li>List item two</li>
                    <li>List item three</li>
                </ul>
            </div>
        </div>
        <h4 class="content"> 
            <div class="container">
            Section 4
            <button type="button" class="btn btn-outline-primary buttonDown">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3.204 5L8 10.481 12.796 5H3.204zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                </svg>
            </button>
            <button type="button" class="btn btn-outline-primary buttonUp">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3.204 11L8 5.519 12.796 11H3.204zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                </svg>
            </button>
            </div>
        </h4>
        <div id="content4">
        <div class="container">
          <p>
          Cras dictum. Pellentesque habitant morbi tristique senectus et netus
          et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
          faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
          mauris vel est.
          </p>
          <p>
          Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
          Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
          inceptos himenaeos.
          </p>
        </div>
        </div>
      </div>
</div>
<script src="{% static 'scripts.js' %}"></script>
{% endblock %}